.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 4em;
    background-color: #F5F9F6;
    width: 100%;
    bottom: 0%;
}

.about {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    height: 18px;
    width: 177px;
    margin-top: 20px;
    margin-bottom: 40px;
    flex: none;
}


@media (max-device-width: 769px) {
    /* For mobile phones and tablets: */
    .footer {
        padding-top: 4em;
        width: 100%;
    }
    
    .about {
        display: none;
    }

    .eraf {
        width: 90%;
        max-width: 370px;
    }
}