.header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 0 1em;
    left: 0px;
    width: 100%;
    background-color: #F5F9F6;
}
    
.topMenu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 1em 0;
        margin: 0;
        background-color: white;
        border-bottom: 1px solid #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }



    .languageMenu {
        display: flex;
    }

    .topTitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    .auth {
        display: flex;
    }

        .login {
        }

        .dot {
            color: #3A8544;
            margin-right: 10px;
            margin-left: 10px;
        }

        .register {
        }

        .user {

        }

        .exitUser {
            color: #3A8544
        }

    .menuButton {
        display: none;
        width: 1.5em;
        height: 1.5em;
    }

    .closeButton {
        display: none;
        width: 1.5em;
        height: 1.5em;
    }

    .menuWrap {
        display: none;
    }

    .md-hidden {
        display: none;
    }

    .menuBackground {
        display: none;
    }


.mainMenu {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 20px;
}

    .menuItems {
        display: flex;
    }


.searchQuery {
    display: flex;
    width: 860px;
}

    .homeButton {
        display: flex;
        width: 60px;
        height: 44px;
        background: #3A8544;
        border-radius: 3px 0px 0px 3px;
    }

    .searchTextBox {
        display: flex;
        width: 740px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
    }

    .searchFilterButton {
        display: flex;
        margin-left: -3.5em;
        margin-right: 2em;
        margin-top: 0.6em;
        width: 1.5em;
        height: 1.5em;
    }

    .searchButton {
        display: flex;
        width: 60px;
        height: 44px;
        background: #3A8544;
        border-radius: 0px 3px 3px 0px;
    }



@media (max-device-width: 769px) {
    /* For mobile phones and tablets: */
    .languageMenu, .auth, .mainMenu {
        display: none;
    }

    .header {
        width: 100%;
    }

    .topMenu {
        justify-content: center;
    }

    .topTitle {
        position: relative;
        font-size: 2rem;
    }

    /*mobile view menu*/
    .menuWrap.open {
        display: flex;
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        transition: all .4s;
    }

    .menuWrap {
        display: flex;
        z-index: 1;
        position: fixed;
        top: 63px;
        left: 0;
        bottom: 0;
        visibility: hidden;
        width: 90%;
        flex-direction: column;
        overflow: auto;
        background-color: white;
        opacity: 0;
        transform: translate(-100%);
        transition: all .4s;
    }

    .menuBackground.open {
        display: flex;
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        transition: all .4s;
    }

    .menuBackground {
        display: flex;
        z-index: 1;
        position: fixed;
        top: 63px;
        right: 0;
        bottom: 0;
        visibility: hidden;
        width: 10%;
        overflow: auto;
        background: rgba(35, 43, 43, 0.7);
        transform: translate(100%);
        transition: all .4s;
    }

    .md-hidden {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .rectangleContainer {
        /* to center the rectangles */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.375em;
    }

    .menuRectangle1 {
        height: 1px;
        width: 85%;
        margin-top: 2.5em;
        margin-bottom: 2.125em;
    }

    .auth.mobile {
        display: flex;
    }
        
        .user, .exitUser {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
        }

        .dot {
            margin-left: 2.5em;
            margin-right: 2.5em;
        }

    .menuRectangle2 {
        height: 1px;
        width: 85%;
        margin-top: 2.125em;
        margin-bottom: 1.875em;
    }

    .languageMenu.mobile {
        display: flex;
    }

        .latvian, .russian, .english {
            font-size: 16px;
            line-height: 24px;
        }

    .menuButton {
        display: flex;
        position: absolute;
        right: 1em;
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0;
        background-color: white;
    }

    .closeButton {
        position: absolute;
        right: 1em;
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0;
        background-color: white;
    }

    .searchQuery {
        width: 95%;
        margin: 1em 0 1em 0;
    }

    input::-webkit-input-placeholder {
        color: transparent;
    }
}