.header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 0 1em;
    left: 0px;
    width: 100%;
    background-color: #F5F9F6;
}
    
.topMenu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 1em 0;
        margin: 0;
        background-color: white;
        border-bottom: 1px solid #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }



    .mainHeaderLanguageMenu {
        display: flex;
        padding: 0 10%;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        float: left;
        width: 104px;
        height: 24px;
        left: 135px;
    }

        .mainHeaderLanguageMenu a {
            display: flex;
            width: 30px;
        }

    .topTitle {
        width: auto;
        height: 30px;
        display: flex;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #232B2B;
    }

    .auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 168px;
        height: 32px;
        right: 135px;
    }

        .login {
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #232B2B;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .register {
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #232B2B;
            flex: none;
            order: 2;
            flex-grow: 0;
        }

        .dot {
            width: 5px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #3A8544;
            flex: none;
            flex-grow: 0;
            margin-right: 10px;
            margin-left: 10px;
        }

    .menuButton {
        display: none;
        width: 1.5em;
        height: 1.5em;
    }

    .closeButton {
        display: none;
        width: 1.5em;
        height: 1.5em;
    }


.mainMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em calc(50% - 704px/2);
    gap: 20px;
    width: 704px;
    height: 24px;
}

    .allReleases {
        width: 83px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .bookmarks {
        width: 84px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .reccomend {
        width: 108px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .collection {
        width: 64px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 3;
        flex-grow: 0;
    }

    .corrections {
        width: 58px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 4;
        flex-grow: 0;
    }

    .users {
        width: 50px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 5;
        flex-grow: 0;
    }

    .mostValued {
        width: 80px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 6;
        flex-grow: 0;
    }

    .cart {
        width: 37px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232B2B;
        flex: none;
        order: 7;
        flex-grow: 0;
    }

.searchQuery {
    display: flex;
    flex-direction: row;
    margin: 0 calc(50% - 860px/2);
    width: 860px;
    height: 44px;
}

    .homeButton {
        display: flex;
        width: 60px;
        height: 44px;
        background: #3A8544;
        border-radius: 3px 0px 0px 3px;
    }

    .searchTextBox {
        display: flex;
        width: 740px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
    }

    .searchFilterButton {
        display: flex;
        margin-left: -3.5em;
        margin-right: 2em;
        margin-top: 0.6em;
        width: 1.5em;
        height: 1.5em;
    }

    .searchButton {
        display: flex;
        width: 60px;
        height: 44px;
        background: #3A8544;
        border-radius: 0px 3px 3px 0px;
    }



@media (max-device-width: 769px) {
    /* For mobile phones and tablets: */
    .mainHeaderLanguageMenu, .auth, .mainMenu {
        display: none;
    }

    .header {
        width: 100%;
    }

    .topMenu {
        justify-content: center;
    }

    .topTitle {
        position: relative;
        font-size: 2rem;
    }

    .menuButton {
        display: flex;
        position: absolute;
        right: 1em;
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0;
        background-color: white;
    }

    .closeButton {
        position: absolute;
        right: 1em;
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0;
        background-color: white;
    }

    .searchQuery {
        width: 95%;
        margin: 1em 0 1em 0;
    }

    input::-webkit-input-placeholder {
        color: transparent;
    }
}