.main {
    display: flex;
    flex-direction: row;
    min-height: 20em;
    margin:auto;
}

.redChoice {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

h1{
    width: 100%;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
}



.mainContent {
    margin-left: 30px;
    margin-top: 0.625em;
    margin-bottom: 3.125em;
}

.mainContent {
    font-family: 'Roboto';
    font-style: normal;
}

.outerBox {
}

.articleL, .journalL {
    width: 26.25em;
    height: 23.125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalL {
    position: relative;
    display: grid;
    place-items: center;
    bottom: 1.375em;
    top: 1.375em
}

.imagearticleL {
    position: relative;
    display: grid;
    bottom: 0.00625em;
}
.rightBox{
    margin-bottom:10px;
}
.journalL {
    width: 26.25em;
    height: 23.125em;
}

.languageFull {
    display: grid;
    grid-template-columns: 17em 8.9375em;
}

.grid2 {
    display: grid;
    width: 54.375em;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 26.25em 26.25em;
}

@media(max-width: 1008px){
    .grid2 {
        grid-template-columns: 26.25em;
    }
}

.author {
    margin-top: 10px;
    width: 25.9375em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: grid;
    align-items: center;
    color: #232B2B;
}

.title {
    margin-top: 10px;
    width: 20.6875em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: grid;
    color: #232B2B;
}
.language, .year{
    box-sizing: border-box;

}


.language {
    margin-top: 10px;
    width: 17em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
}
.year {
    margin-top: 10px;
    width: 3.75em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
}

.grid3 {
    display: grid;
    width: 54.375em;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 12.1875em 12.1875em 12.1875em 12.1875em;
}

@media (max-width: 1008px){
    .grid3 {
        grid-template-columns: 12.1875em 12.1875em;
    }
}

.mostViewed {
    width: 54.375em;
    display: grid;
    grid-template-columns: 6.25em;
}

.mostViewedText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.viewAll {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A8544;
}

.journalS {
    width: 12.1875em;
    height: 9.8125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalS {
    position:relative;
    align-items:center;
    top:3px;
}

.titleS {
    width: 153px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px
}



.languageFullS {
    display: grid;
    grid-template-columns: 3em 4em;
}

.languageS {
    width: 135px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px;
}

.yearS {
    width: 60px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
    margin-top:10px;
}

.activeUsers {
    display: flex;
}

h2 {
    margin-top: 45px;
    width: 48.3em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    justify-content:space-between;
}

.firstbox{
    width:54.375em;
}

h3 {
    margin-top: 45px;
    width: 48.3em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    justify-content: space-between;
}

.activeCollumn1, .activeCollumn2 {
    vertical-align: bottom;
}

.user1, .user2, .user3, .user4, .user5, .user6 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 26.25em;
    height: 3.125em;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.user4, .user5, .user6 {
    margin-left: 30px;
}
.userName {
    padding-left: 20px;
}

.userNum{
    padding-right: 20px;
}

@media (max-device-width: 769px) {
    .main {
        display: none;
    }
}

.test12{
    background-color:lightcoral;
    width:1000px;
    height:1000px;
}