.main {
    display: flex;
    flex-direction: row;
    margin:auto;
}

.redChoice {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

h1{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    color: #232B2B;
}



.mainContent {
    margin-top: 0.625em;
    margin-bottom: 3.125em;
}

.mainContent {
    font-style: normal;
}

.articleL, .journalL {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalL {
    position: relative;
    display: grid;
    place-items: center;
    bottom: 1.375em;
    top: 1.375em
}

.imagearticleL {
    position: relative;
    bottom: 0.00625em;
}
.articleLContents{
    margin-bottom:10px;
}
articleL {
    width: 100%;
    height: 82.22%;
}
.journalL {
    width: 100%;
    height: 81.22%;
}
.imagejournalL {
    height: 88.1%;
    width: 97.61%;
}
.languageFull {
    display: grid;
    grid-template-columns: 17em 8.9375em;
}

.grid2 {
    display: grid;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 26.25em 26.25em;
}

.author {
    margin-top: 10px;
    width: 98.8%;
    height: 5.33%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: grid;
    align-items: center;
    color: #232B2B;
}

.title {
    margin-top: 10px;
    width: 20.6875em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: grid;
    color: #232B2B;
}
.language, .year{
    box-sizing: border-box;

}


.language {
    margin-top: 10px;
    width: 17em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
}
.year {
    margin-top: 10px;
    width: 3.75em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
}

.grid3 {
    display: grid;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 12.1875em 12.1875em 12.1875em 12.1875em;
}

.mostViewed {
    display: grid;
    grid-template-columns: 6.25em;
}

.mostViewedText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.viewAll {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A8544;
}

.journalS {
    width: 12.1875em;
    height: 9.8125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalS {
    position:relative;
    align-items:center;
    top:3px;
}

.titleS {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px
}



.languageFullS {
    display: grid;
    grid-template-columns: 3em 4em;
}

.languageS {
    width: 135px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px;
}

.yearS {
    width: 60px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
    margin-top:10px;
}


h2 {
    margin-top: 45px;
    width: 48.3em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    justify-content:space-between;
}

.firstbox{
    width:54.375em;
}

.mainTopOptions {
    height: 210px;
    width: 1170px;
    left: 135px;
    top: 278px;
    border-radius: 0px;
    margin-bottom: 40px;
}

.copyrightC {
    height: 24px;
    width: 24px;
    padding-left:360px;
}

.copyrightText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.allReleasesText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

h3 {
    max-width: 1170px;
    min-width:100px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-block-start: 20px;
    margin-block-end: 0px;
    margin-bottom: 30px;
}

.searchFilterBox {
    height: 40px;
    width: 200px;
}

.SF {
    height: 58px;
}

.languageSearchFilterBox, .typeSearchFilterBox, .accessSearchFilterBox {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.languageSearchFilterBox {
}

.languageSearchFilterText, .typeSearchFilterText, .accessSearchFilterText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    padding-bottom: 4px;
    color: #74746D;
    align-items: center;
}

.searchFilters {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin-bottom: 30px;
    column-gap: 43px;
}

.alphabet {
    padding-left: 4px;
    display: flex;
    flex-direction: column;
}

.alphabetExpand {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3A8544;
}

.alphabetLV, .alphabetRU {
    height: 24px;
    letter-spacing: 0.3em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.alphabetLV {
    padding-left: 6px;
}

.alpha1{
    padding-bottom:20px;
    display:flex;
}

.topOptionsTextBox {
    display: flex;
    padding-top:6px;
    padding-bottom:8px;
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.topOptionsArrowDown {
    height: 8px;
    width: 14.666666984558105px;
    border-radius: 0px;
    padding-top:15px;
    padding-right:2px;
}

.releaseGridContainer{
    display:grid;
    grid-template-columns:360px 360px 360px;
    column-gap:45px;
}

.lastGridContainer{
    margin-bottom:50px;
}

.releaseGridElement{
    height:296px;
    width:360px;
}

.releaseLine{
    display:flex;
    height:24px;
    width:360px;
    margin-bottom:10px;
    align-items:center;
}

.releaseLineElement1{
    width:16px;
    height:16px;
    padding-right:5px;
}

.releaseLineElement2 {
    width: 250px;
    height: 24px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232B2B;
    padding-right:3px;
}

.releaseLineElement3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 60px;
    height: 14px;
    padding-right:10px;
}

.releaseLineElement4 {
    width: 16px;
    height: 16px;
}

.rectangleLine {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #CCCCCC;
}

.index3Invisible{
    display:none;
}

.mainContent3{
    width:870px;
    margin-bottom:40px;
    margin-top:10px;
    /*background-color:blue;*/
}

.releaseDescriptionHeader{
    margin-bottom:20px;
}

.filtersHeader{
    margin-block-end:0;
    margin-top:0px;
    height:36px;
    line-height:36px;
}

.releaseDescriptionContainer{
    display:flex;
    flex-direction:row;
    
}

.coverimg{
    width:282px;
    height:366px;
}

.releaseDescription{
    margin-left:20px;
}

.descriptionLine{
    display:flex;
    flex-direction:row;
}

.descriptionColumnElement1 {
    width: 130px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    align-items:center;
    margin-right:20px;
}

.descriptionColumnElement2 {
    height:24px;
    width:418px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.descriptionLine {
    margin-bottom:10px;
}

.descriptionLastLine {
    margin-bottom: 20px;
}

.descriptionGreenText {
    color: #3A8544;
}

.descriptionAnotation{
    width:568px;
    height:198px;
    /*background-color:aqua;*/
}

.descriptionTextMarginClassStart {
    margin-block-start: 0;
}

.descriptionTextMarginClass{
    margin-block-end:1.7em;
}

.descriptionBottomBox{
    display:flex;
    justify-content:space-between;
}

.descriptionBottomBoxText1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 145px;
    height: 24px;
    color: #3A8544;
}

.descriptionBottomBoxText2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 150px;
    height: 24px;
    color: #3A8544;
}

.mainContent4{
    width:870px;
    margin-top:20px;
    height:1332px;
}

h4 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-top:0px;
}

.articleExportText {
    padding-left: 500px;
    font-size: 16px;
    color: #3A8544;
}

.sidebar2{
    width:270px;
    background-color:aquamarine;
    margin-top:20px;
    margin-right:30px;
    height:1442px;
    margin-bottom:30px;
}

.allPublicationArticles{
    margin-block-end:30px;
}

.articleSearchNavigation{
    display:flex;
    flex-direction:row;
    height:30px;
    margin-bottom:30px;
    align-items: center;
}

.pageSearchNavigationBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 254px;
    height: 30px;
}

articlePageArrow{
    width:40px;
}

.currentArticlePageText {
    width: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.currentArticlePageNumber {
    width: 30px;
    line-height: 19px;
    border: 2px solid #232B2B;
    padding-left:5px;
    padding-right:5px;
    padding-top:3px;
    padding-bottom:3px;
    text-align:center;
}

.allArticlePages {
    width: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.totalArticleResults {
    width: 86px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3A8544;
    line-height: 24px;
    padding-left: 45px;
    padding-right: 45px;
}

.articleSortByText {
    width: 65px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-right:20px;
}

.articleCorrespondenceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 170px;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.articleCorrespondenceText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    width:129px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
}

.articleCorrespondenceArrowDown{
    height:8px;
    width:14.67px;
    padding-right:8.67px;
}

.articleShowMoreText {
    padding-left: 51px;
    padding-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.articleSearchNavigationBox {
    width: 16px;
    height: 30px;
    color: white;
    background-color: #3A8544;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
}

.searchNavigationBackgroundColorGreen {
    background: #3A8544;
}

.searchNavigationBackgroundColorBlack {
    background: #232B2B;
}

.articleItemContainer{
    display:flex;
    flex-direction:row;
    height:157px;
    margin-bottom:40px;
}

.articleItemPlaceholder {
    width: 185px;
    height: 147px;
    padding: 3px;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.articleItemDescription{
    display:flex;
    flex-direction:column;
    margin-left:20px;
}

.articleItemRoboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.articleItemName {
    width: 631px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
}

.articleItemSynopsis {
    width: 631px;
    height: 80px;
}

.articleItemAuthor {
    width: 500px;
    height: 24px;
}

.articleItemReleaseDate{
    width: 500px;
    height: 24px;
}

.articleItemBottomDescriptionRow{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.articleItemDOM {
    display:flex;
    justify-content:right;
    height: 24px;
    width:155px;
    color: #3A8544;
}

.contentHeader6 {
    margin-block: 20px;
    width: 870px;
    height: 30px;
}

.collectionItemContainer {
    width: 1171px;
    display: grid;
    grid-template-areas: "collectionDiplomaticItem collectionDiplomaticItem collectionHumanitaryItem collectionMusicItem collectionHistoryItem"
        "collectionDiplomaticItem collectionDiplomaticItem collectionHumanitaryItem collectionMusicItem collectionHistoryItem"
        "collectionDiplomaticItem collectionDiplomaticItem collectionHumanitaryItem collectionMusicItem collectionHistoryItem";
    grid-column-gap:49px;
    grid-row-gap:40px;
    margin-bottom:50px;
}

.collectionItem {
    width: 195px;
    height: 210px;
    display:flex;
    flex-direction:column;
}

.collectionPlaceholderIMG {
    width: 185px;
    height:147px;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    padding:3px;
}

.collectionTitle {
    min-width: 72px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-top:10px;
    padding-bottom:5px;
}

.collectionDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.mainContent7 {
    width: 870px;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 1522px;
}

.collectionDiplomacyTitle{
    margin-block-start:0px;
    margin-block-end:20px;
}

.collectionDiplomacyDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 870px;
    height: 120px;
    margin-block-end:20px;
}

@media(max-width:1000px) {
    .releaseGridContainer {
            display: grid;
            grid-template-columns: 360px 360px;
            column-gap: 45px;
            gap: 40px;
        }
    }

    @media(max-width: 1008px) {
        .grid2 {
            grid-template-columns: 26.25em;
        }
    }

    @media (max-width: 1008px) {
        .grid3 {
            grid-template-columns: 12.1875em 12.1875em;
        }
    }

    @media(min-width:1008.1px) {
        .mainContent{
            margin-left:30px;
        }
        h2 {
            width: 48.3em;
        }

        .activeUsers1 {
            display: none;
        }

        .activeUsers2 {
            display: flex;
            flex-direction: row;
        }

        .activeCollumn1 {
            width: 420px;
            margin-right: 0px;
        }

        .activeCollumn2 {
            width: 420px;
        }

        .user1, .user2, .user3, .user4, .user5, .user6 {
            display: flex;
            width: 26.25em;
            height: 3.125em;
            border: 1px solid #E0E0E0;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }



        .user4, .user5, .user6 {
            margin-left: 30px;
        }

        .userName {
            padding-left: 20px;
        }

        .userNum {
            padding-right: 20px;
        }
    }

    @media(max-width: 1008px) {

        h2 {
            width: 23.15em;
        }

        .activeUsers2 {
            display: none;
        }

        .activeUsers1 {
            display: grid;
        }


        .user1, .user2, .user3, .user4, .user5, .user6 {
            display: flex;
            width: 26.25em;
            height: 3.125em;
            border: 1px solid #E0E0E0;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }


        .userName {
            padding-left: 20px;
        }

        .userNum {
            padding-right: 20px;
        }
    }

    
}
@media (max-device-width: 769px) {
    .banner{
        display:none;
    }
    .sidebar{
        display:none;
    }
    .main {
        position:relative;
        width: 100%;
        justify-content: center;
        margin:0px;
    }
    .outerBox{
        position:relative;
        width:95%;
        justify-content:center;
        margin-left:0;
        margin-right:0;
    }
    .mainContent{
        margin-left:0px;
    }
    h1{
        width:95%;
    }

}