.main {
    display: flex;
    flex-direction: row;
    min-height: 20em;
    margin:auto;
}

.redChoice {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

h1{
    width: 100%;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
}



.mainContent {
    margin-left: 30px;
    margin-top: 0.625em;
    margin-bottom: 3.125em;
}

.mainContent {
    font-family: 'Roboto';
    font-style: normal;
}

.outerBox {
}

.articleL, .journalL {
    width: 26.25em;
    height: 23.125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalL {
    position: relative;
    display: grid;
    place-items: center;
    bottom: 1.375em;
    top: 1.375em
}

.imagearticleL {
    position: relative;
    display: grid;
    bottom: 0.00625em;
}
.rightBox{
    margin-bottom:10px;
}
.journalL {
    width: 26.25em;
    height: 23.125em;
}

.languageFull {
    display: grid;
    grid-template-columns: 17em 8.9375em;
}

.grid2 {
    display: grid;
    width: 54.375em;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 26.25em 26.25em;
}

@media(max-width: 1008px){
    .grid2 {
        grid-template-columns: 26.25em;
    }
}

.author {
    margin-top: 10px;
    width: 25.9375em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: grid;
    align-items: center;
    color: #232B2B;
}

.title {
    margin-top: 10px;
    width: 20.6875em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: grid;
    color: #232B2B;
}
.language, .year{
    box-sizing: border-box;

}


.language {
    margin-top: 10px;
    width: 17em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
}
.year {
    margin-top: 10px;
    width: 3.75em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
}

.grid3 {
    display: grid;
    width: 54.375em;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 12.1875em 12.1875em 12.1875em 12.1875em;
}

@media (max-width: 1008px){
    .grid3 {
        grid-template-columns: 12.1875em 12.1875em;
    }
}

.mostViewed {
    width: 54.375em;
    display: grid;
    grid-template-columns: 6.25em;
}

.mostViewedText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.viewAll {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A8544;
}

.journalS {
    width: 12.1875em;
    height: 9.8125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalS {
    position:relative;
    align-items:center;
    top:3px;
}

.titleS {
    width: 153px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px
}



.languageFullS {
    display: grid;
    grid-template-columns: 3em 4em;
}

.languageS {
    width: 135px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px;
}

.yearS {
    width: 60px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
    margin-top:10px;
}

.activeUsers {
    display: flex;
}

h2 {
    margin-top: 45px;
    width: 48.3em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    justify-content:space-between;
}

.firstbox{
    width:54.375em;
}





.activeCollumn1, .activeCollumn2 {
}

.user1, .user2, .user3, .user4, .user5, .user6 {
    display: flex;
    width: 26.25em;
    height: 3.125em;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


 
.user4, .user5, .user6 {
    margin-left: 30px;
}
.userName {
    padding-left: 20px;
}

.userNum{
    padding-right: 20px;
}

@media (max-device-width: 769px) {
    .main {
        display: none;
    }
}

.mainTopOptions {
    height: 210px;
    width: 1170px;
    left: 135px;
    top: 278px;
    border-radius: 0px;
    margin-bottom: 40px;
}

.copyrightC{
    height:24px;
    width:24px;
    padding-left:360px;
}

.copyrightText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.allReleasesText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

h3 {
    width:1170px;
    height:24px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-block-start:20px;
    margin-block-end:0px;
    margin-bottom:30px;
}

.searchFilterBox{
    height:40px;
    width:200px;
}

.SF{
    height:58px;
}

.languageSearchFilterBox, .typeSearchFilterBox, .accessSearchFilterBox {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
    display:flex;
    justify-content:space-between;
}

.languageSearchFilterBox{
    
}

.languageSearchFilterText, .typeSearchFilterText, .accessSearchFilterText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    padding-bottom: 4px;
    color: #74746D;
    align-items: center;
}

.searchFilters {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin-bottom: 30px;
    column-gap:43px;
}

.alphabet{
    padding-left:4px;
    display:flex;
    flex-direction:column;
}

.alphabetExpand {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3A8544;
}

.alphabetLV, .alphabetRU {
    height: 24px;
    letter-spacing: 0.3em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.alphabetLV {
    padding-left: 6px;
}

.alpha1{
    padding-bottom:20px;
    display:flex;
}

.topOptionsTextBox {
    display: flex;
    padding-top:6px;
    padding-bottom:8px;
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.topOptionsArrowDown {
    height: 8px;
    width: 14.666666984558105px;
    border-radius: 0px;
    padding-top:15px;
    padding-right:2px;
}

.releaseGridContainer{
    display:grid;
    grid-template-columns:360px 360px 360px;
    column-gap:45px;
}

.lastGridContainer{
    margin-bottom:50px;
}

.releaseGridElement{
    height:296px;
    width:360px;
}

.releaseLine{
    display:flex;
    height:24px;
    width:360px;
    margin-bottom:10px;
    align-items:center;
}

.releaseLineElement1{
    width:16px;
    height:16px;
    padding-right:5px;
}

.releaseLineElement2 {
    width: 250px;
    height: 24px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232B2B;
    padding-right:3px;
}

.releaseLineElement3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 60px;
    height: 14px;
    padding-right:10px;
}

.releaseLineElement4 {
    width: 16px;
    height: 16px;
}

.rectangleLine {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #CCCCCC;
}

.noCopyRights{
    visibility:hidden;
}