.main {
    display: flex;
    flex-direction: row;
    min-height: 20em;
}

h1{
    width: 870px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
}

.mainContent {
    /*background-color: forestgreen;*/
    width: 870px;
    height: 1070px;
    margin-left: 30px;
    margin-top: 0.625em;
}

.mainContent {
    font-family: 'Roboto';
    font-style: normal;
}

.outerBox {
    width: 62.142857142857146em;
    height: 76.42857142857143em;
    background-color: white;
}

.rakstsL, .dzirksteleL {
    width: 420px;
    height: 370px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagedzirksteleL {
    position: relative;
    display: grid;
    place-items: center;
    bottom:22px;
    top:22px
}

.imagerakstsL {
    position: relative;
    display: grid;
    bottom: 0.1px;
}
.rightBox{
    margin-bottom:10px;
}
.dzirksteleL {
    width: 420px;
    height: 370px;
}

.languageFull {
    display: grid;
    grid-template-columns: 272px 143px;
}

.grid2 {
    display: grid;
    width: 870px;
    row-gap: 2em;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 420px 420px;
}

.author {
    margin-top:10px;
    width: 415px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: grid;
    align-items: center;
    color: #232B2B;
}

.title {
    margin-top: 10px;
    width: 331px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: grid;
    color: #232B2B;
}
.language, .langNum{
    box-sizing: border-box;

}


.language {
    margin-top: 10px;
    width: 272px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
}
.langNum {
    margin-top:10px;
    width: 60px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
}

.mostViewed {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100px;
}

.activeUsers {
    display: flex;
    width: 870px;
    height: 234px;
}

.mostViewed {
    margin-top: 45px;
    width: 795px;
    height: 24px;
    font-family: 'Roboto';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
}



.activeCollumn1, .activeCollumn2 {
    vertical-align: bottom;
}

.user1, .user2, .user3, .user4, .user5, .user6 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 420px;
    height: 50px;
    left: 435px;
    top: 1298px;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    z-index: 3;
}

.user4, .user5, .user6 {
    margin-left: 30px;
}
.userName {
    padding-left: 20px;
}

.userNum{
    padding-right: 20px;
}

@media (max-device-width: 769px) {
    .main {
        display: none;
    }
}