.main {
    display: flex;
    flex-direction: row;
    min-height: 20em;
    margin:auto;
}

.redChoice {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

h1{
    width: 100%;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
}



.mainContent {
    margin-left: 30px;
    margin-top: 0.625em;
    margin-bottom: 3.125em;
}

.mainContent {
    font-family: 'Roboto';
    font-style: normal;
}

.outerBox {
}

.articleL, .journalL {
    width: 26.25em;
    height: 23.125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalL {
    position: relative;
    display: grid;
    place-items: center;
    bottom: 1.375em;
    top: 1.375em
}

.imagearticleL {
    position: relative;
    display: grid;
    bottom: 0.00625em;
}
.rightBox{
    margin-bottom:10px;
}
.journalL {
    width: 26.25em;
    height: 23.125em;
}

.languageFull {
    display: grid;
    grid-template-columns: 17em 8.9375em;
}

.grid2 {
    display: grid;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 26.25em 26.25em;
}

@media(max-width: 1008px){
    .grid2 {
        grid-template-columns: 26.25em;
    }
}

.author {
    margin-top: 10px;
    width: 25.9375em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: grid;
    align-items: center;
    color: #232B2B;
}

.title {
    margin-top: 10px;
    width: 20.6875em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: grid;
    color: #232B2B;
}
.language, .year{
    box-sizing: border-box;

}


.language {
    margin-top: 10px;
    width: 17em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
}
.year {
    margin-top: 10px;
    width: 3.75em;
    height: 0.875em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
}

.grid3 {
    display: grid;
    row-gap: 2em;
    column-gap: 1.875em;
    grid-template-columns: 12.1875em 12.1875em 12.1875em 12.1875em;
}

@media (max-width: 1008px){
    .grid3 {
        grid-template-columns: 12.1875em 12.1875em;
    }
}

.mostViewed {
    display: grid;
    grid-template-columns: 6.25em;
}

.mostViewedText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.viewAll {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A8544;
}

.journalS {
    width: 12.1875em;
    height: 9.8125em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
}

.imagejournalS {
    position:relative;
    align-items:center;
    top:3px;
}

.titleS {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px
}



.languageFullS {
    display: grid;
    grid-template-columns: 3em 4em;
}

.languageS {
    width: 135px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #232B2B;
    margin-top:10px;
}

.yearS {
    width: 60px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    margin-left: 120px;
    margin-top:10px;
}


h2 {
    margin-top: 45px;
    width: 48.3em;
    height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232B2B;
    justify-content:space-between;
}

.firstbox{
    width:54.375em;
}

h3 {
    margin-top: 45px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #232B2B;
    justify-content: space-between;
}
@media(min-width:1008.1px){
    h2 {
        width: 48.3em;
    }
    .activeUsers1{
        display:none;
    }
    .activeUsers2{
        display: flex;
        flex-direction:row;
    }
    .activeCollumn1 {
        width:420px;
        margin-right:0px;
    }
    .activeCollumn2 {
        width: 420px;
    }
    .user1, .user2, .user3, .user4, .user5, .user6 {
        display: flex;
        width: 26.25em;
        height: 3.125em;
        border: 1px solid #E0E0E0;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
    }



    .user4, .user5, .user6 {
        margin-left: 30px;
    }

    .userName {
        padding-left: 20px;
    }

    .userNum {
        padding-right: 20px;
    }
}
@media(max-width: 1008px){

    h2{
        width:23.15em;
    }
    .activeUsers2{
        display:none;
    }
    .activeUsers1 {
        display: grid;
    }


    .user1, .user2, .user3, .user4, .user5, .user6 {
        display: flex;
        width: 26.25em;
        height: 3.125em;
        border: 1px solid #E0E0E0;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    
    .userName {
        padding-left: 20px;
    }

    .userNum{
        padding-right: 20px;
    }

    
}
@media (max-device-width: 769px) {
        .main {
            display: none;
        }
}


.alphabetLV {
    padding-left: 6px;
}

.alpha1{
    padding-bottom:20px;
    display:flex;
}

.topOptionsTextBox {
    display: flex;
    padding-top:6px;
    padding-bottom:8px;
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.topOptionsArrowDown {
    height: 8px;
    width: 14.666666984558105px;
    border-radius: 0px;
    padding-top:15px;
    padding-right:2px;
}

.releaseGridContainer{
    display:grid;
    grid-template-columns:360px 360px 360px;
    column-gap:45px;
}

.lastGridContainer{
    margin-bottom:50px;
}

.releaseGridElement{
    height:296px;
    width:360px;
}

.releaseLine{
    display:flex;
    height:24px;
    width:360px;
    margin-bottom:10px;
    align-items:center;
}

.releaseLineElement1{
    width:16px;
    height:16px;
    padding-right:5px;
}

.releaseLineElement2 {
    width: 250px;
    height: 24px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232B2B;
    padding-right:3px;
}

.releaseLineElement3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 60px;
    height: 14px;
    padding-right:10px;
}

.releaseLineElement4 {
    width: 16px;
    height: 16px;
}

.rectangleLine {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #CCCCCC;
}