.sideBarRoboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    margin-top: 0.625em;
    margin-right: 1.875em;
    gap: 20px;
}

.sideBarHeader {
    display:flex;
    border: 0px;
    background: #F5F9F6;
    height: 40px;
    width: 270px;
    border-radius: 0px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    cursor:pointer;
    justify-content:space-between;
}

.mainContent1SideBarHeader{
    margin-block-end:10px;
}

.buttonText {
    width: 13.875em;
    line-height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 8px;
    text-align: start;
}

.arrowDown {
    padding-right: 9px;
    justify-content:right;
}

    .arrowDown.inverted {
        transform: scaleY(-1);
    }

.sideBarHeaderText{
    padding-left:8px;
}

.sideBarContent {
    display: none;
    border: 0px;
    flex-direction: row;
    background: #F5F9F6;
    width: 270px;
    border-radius: 0px;
    justify-content: left;
    align-items: center;
    background-color:aqua;
}
    .sideBarContent.sideBarActive {
        display: block;
    }

.sideFilterTextBox {
    height: 30px;
    width: 270px;
    /*background-color: brown;*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}


.period {
    width: 16.875em;
    max-height:182px;
    position: relative;
}

.periodDropDown-btn {
    display: flex;
    border: 0px;
    flex-direction: row;
    background: #F5F9F6;
    height: 40px;
    width: 270px;
    border-radius: 0px;
    align-items: center;
}

.periodCalendar {
    display: grid;
    grid-template-areas:
        'date1 date2'
        'dateBox1  dateBox2';
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding-left: 8px;
}

.calDatesText {
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #74746D;
    margin-block-start:20px;
}

.dateFrom {
    grid-area: date1;
    width: 62px;
}

.dateTo {
    grid-area: date2;
    width: 67px;
}

.calBox {
    display: flex;
    justify-content: space-between;
    width: 124px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    line-height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-block-end:20px;
}

.calendarDateText{
    margin-left:8px;
}

.calIcon {
    height: 14.67px;
    width: 14.67px;
    margin-top: 12.67px;
    margin-bottom: 12.67px;
    margin-right: 8.67px;
}

.dateFromBox {
    grid-area: dateBox1;
}

.dateToBox {
    grid-area: dateBox2;
}

.periodResults {
    height: 100%;
    width: 100%;
    background: #3A8544;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
}

.periodResultsText {
    padding-bottom: 0.9em;
    padding-top: 0.8em;
    padding-left: 4.6em;
    padding-right: 4.6em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    color: white;
}

.releases {
    background-color: white;
    width: 16.875em;
    min-height: 40px;
    max-height: 356px;
}

.releasesDropDown-btn {
    display: flex;
    flex-direction: row;
    background: #F5F9F6;
    height: 40px;
    width: 270px;
    border-radius: 0px;
    align-items: center;
    border: 0px;
}

.reText {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    font-size: 14px;
}

.reTextLine {
    line-height: 25px;
    align-items: center;
    padding-left: 8px;
}

.sideBarAllReleases {
    display: flex;
    justify-content: end;
    width: 270px;
    height: 24px;
    color: #3A8544;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.sideBarCollection {
    background-color: white;
    width: 16.875em;
    min-height: 40px;
    max-height: 15.875em;
}

.sideBarCollectionDropDown-btn {
    display: flex;
    flex-direction: row;
    background: #F5F9F6;
    height: 40px;
    width: 270px;
    border: 0px;
    align-items: center;
}

.colText {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    font-size: 14px;
}

.colTextLine {
    line-height: 25px;
    align-items: center;
}

.sideBarAllCollections {
    display: flex;
    justify-content: end;
    text-align: end;
    width: 270px;
    height: 24px;
    color: #3A8544;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.sidebarExtendedPeriod {
    width: 270px;
    background-color: aquamarine;
    margin-top: 20px;
    margin-right: 30px;
    height: 1442px;
    margin-bottom: 30px;
}

.sidebarPopularity{
    display:flex;
    flex-direction:column;
    height:408px;
    width:270px;
    background-color:aqua;
    margin-top:20px;
    margin-right:30px;
}

@media (max-device-width: 769px) {
    .sidebar {
        display: none;
    }
}
