.sideBarRoboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    margin-top: 0.625em;
    margin-right: 1.875em;
    gap: 20px;
}

.sideBarHeader {
    display:flex;
    border: 0px;
    background: #F5F9F6;
    height: 40px;
    width: 100%;
    border-radius: 0px;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    cursor:pointer;
    justify-content:space-between;
}

.mainContent1SideBarHeader{
    margin-block-end:10px;
}

.mainContent3SideBarHeader {
    margin-block-end: 0px;
}

.buttonText {
    width: 13.875em;
    line-height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 8px;
    text-align: start;
}

.arrowDown {
    padding-right: 9px;
    justify-content:right;
}

    .arrowDown.inverted {
        transform: scaleY(-1);
    }

.sideBarHeaderText{
    padding-left:8px;
}

.sideBarContent {
    display: none;
    border: 0px;
    flex-direction: row;
    background: #F5F9F6;
    width: 100%;
    border-radius: 0px;
    justify-content: left;
    align-items: center;
    background-color:white;
}
    .sideBarContent.sideBarActive {
        display: block;
    }

.sideFilterTextBox {
    height: 30px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.sidebarPeriod {
    max-height:182px;
    width:270px;
}

.periodCalendar {
    display: grid;
    grid-template-areas:
        'date1 date2'
        'dateBox1  dateBox2';
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding-left: 8px;
}

.calendarDatesText {
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #74746D;
    margin-block-start:20px;
    margin-block-end:4px;
}

.calendarDateFrom {
    grid-area: date1;
    width: 62px;
}

.calendarDateTo {
    grid-area: date2;
    width: 67px;
}

.calendarBox {
    display: flex;
    justify-content: space-between;
    width: 124px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    line-height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-block-end:20px;
}

.calendarDateNumber{
    margin-left:8px;
}

.calendarIcon {
    height: 14.67px;
    width: 14.67px;
    margin-top: 12.67px;
    margin-bottom: 12.67px;
    margin-right: 8.67px;
}

.calendarDateFromBox {
    grid-area: dateBox1;
}

.calendarDateToBox {
    grid-area: dateBox2;
}

.sidebarPeriodResults {
    height: 100%;
    width: 100%;
    background: #3A8544;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
}

.periodResultsText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    color: white;
}

.sidebarReleases {
    background-color: white;
}

.releasesText {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.releasesTextLine {
    line-height: 25px;
    align-items: center;
    padding-left: 8px;
}

.sideBarAllReleases {
    display: flex;
    justify-content: end;
    height: 24px;
    color: #3A8544;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.sideBarCollection {
    background-color: white;
}

.collectionText {
    padding-top:20px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    font-size: 14px;
    padding-block-end:10px;
    line-height: 25px;
}

.sideBarAllCollections {
    display: flex;
    justify-content: end;
    text-align: end;
    width: 100%;
    height: 24px;
    color: #3A8544;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.sidebarPopularity{
    display:flex;
    flex-direction:column;
    height:408px;
    width:100%;
    background-color:aqua;
    margin-top:20px;
    margin-right:30px;
}

.sidebarExtendedPeriod {
    display:flex;
    flex-direction:column;
    width: 100%;
    max-height:1442px;
    margin-top: 20px;
    margin-right: 30px;
    gap:20px;
}

.sidebarExtendedPeriodContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8px;
    margin-left: 10px;
    margin-top:18px;
}

.sidebarExtendedPeriodContentType2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 10px;
}

.sidebarExtendedPeriodContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 18px;
    gap: 8px;
}

.sidebarExtendedPeriodAmountBars, .sidebarExtendedPeriodAccessability, ..sidebarExtendedPeriodLanguage, ..sidebarExtendedPeriodAuthors, ..sidebarExtendedPeriodReleaseTitle, .sidebarExtendedPeriodList {
    width: 100%;
}

.sidebarExtendedPeriodCheckBox {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: #232B2B;
    border-radius: 3px;
    background: #FFFFFF;
}

.sidebarExtendedPeriodCheckBoxText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 189px;
    height: 24px;
}

.sidebarExtendedPeriodAmountNumber {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    width: 23px;
    height: 24px;
}

.sidebarAmountBarLine {
    display: flex;
    flex-direction: row;
    margin-bottom:8px;
}

.sidebarAmountBarLastLine {
    display: flex;
    flex-direction: row;
}

.sidebarAmountBarYear {
    width: 60px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-right:10px;
}

.sidebarAmountUnits {
    width:24px;
    height:24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #3A8544;
    padding-left:10px;
    padding-right:150px;
}

.sidebarAmountUnit1 {
    padding-right: 150px;
}

.sidebarAmountUnit2 {
    padding-right: 141px;
}

.sidebarAmountUnit3 {
    padding-right: 125px;
}

.sidebarAmountUnit4 {
    padding-right: 150px;
}

.sidebarAmountUnit5 {
    padding-right: 84px;
}

.sidebarAmountUnit6 {
    padding-right: 117px;
}

.sidebarAmountUnit7 {
    padding-right: 134px;
}

.sidebarShortenedPeriod {
    display: flex;
    flex-direction: column;
    max-height:1442px;
    width: 100%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    gap: 20px;
}

.shortenedYearPeriodBox {
    background: #F5F9F6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0px 8px 8px;
}

@media (max-device-width: 769px) {
    .sidebar {
        display: none;
    }

    .filterHeaderText{
        margin-block-end:20px;
    }

    .sideBarBlock{
        margin-bottom:30px;
    }

    .periodCalendar{
        padding:0px;
        display:flex;
        justify-content:space-between;
        margin-left:8px;
        margin-right:8px;
    }

    .calendarDateToBox, .calendarDateFromBox{
        width: 100%;
    }

    .calendarDateFrom, .calendarDateTo {
        margin-top: 0;
    }

    .calendarBox.index2 {
        margin-bottom: 0;
    }

    /* mobile filters */
    .contentText {
        font-size: 16px;
        font-weight: 500;
        margin-left: 0.625em;
        margin-right: 0.625em;
    }

    .filtersWrap.open {
        display: flex;
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        transition: all .4s;
    }

    .filtersWrap {
        display: flex;
        z-index: 1;
        position: fixed;
        top: 0px;
        left: 0;
        bottom: 0;
        visibility: hidden;
        width: 90%;
        flex-direction: column;
        overflow: auto;
        background-color: white;
        opacity: 0;
        transform: translate(-100%);
        transition: all .4s;
    }

    .filtersBackground.open {
        display: flex;
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        transition: all .4s;
    }

    .filtersBackground {
        display: flex;
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        width: 10%;
        overflow: auto;
        background: rgba(35, 43, 43, 0.7);
        transform: translate(100%);
        transition: all .4s;
    }

    .filtersContainer {
        margin: 0.875em 1.25em 1.875em;
    }

    .mobileSearchFilters {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .searchFilterBox {
        width: 100%;
    }

    .periodCalendar.index2 {
        column-gap: 5%;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .filtersButton {
        display: flex;
        height: 24px;
        border: 0;
        padding: 0;
        margin-left: 0.8em;
        background-color: white;
    }

    .filtersImage {
        margin-right: 10px;
    }

    .filtersText {
        font-size: 16px;
        font-weight: 500;
        color: #3A8544;
        margin: 0;
    }

    .closeFiltersButton {
        position: absolute;
        right: 20px;
        top: 19px;
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0;
        background-color: white;
    }
    /* end of mobile filters */
}
