body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    color: black;
}
    a:hover {
        cursor: pointer;
    }
    a.selected {
        color: green;
        font-weight: bold;
    }

.banner {
    position: absolute;
    width: 900px;
    height: 60px;
    top: 208px;
    left: 270px;
    background: #FEFAF3;
    border: 1px solid #FFAC1C;
    border-radius: 3px;
}

    .bannerText {
        display: inline-block;
        width: 744px;
        height: 36px;
        left: 20px;
        right: 136px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-left: 20px;
    }

    .bannerButton1 {
        position: relative;
        width: 42px;
        height: 24px;
        left: 20px;
        top: calc(50% - 24px/2);
        padding-left: 20px;
        background: none;
        border: none;
    }

    .bannerButton1Text {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 24px;
        right: 42px;
        top: calc(50% - 55px/2);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #3A8544;
        padding-left: 20px;
    }

    .bannerButton2 {
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        left: 20px;
        top: calc(50% - 24px/2);
        margin-left: 25px;
        vertical-align: middle;
        margin-bottom: 34px;
    }

        .bannerButton2:hover {
            cursor: pointer;
        }

    .bannerImage {
        position: relative;
        display: inline-block;
        height: 20px;
    }


@media (max-width: 750px) {
    .mainHeaderLanguageMenu {
        color: red;
    }
}
