body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    color: black;
}
    a:hover {
        cursor: pointer;
    }
    a.selected {
        color: green;
        font-weight: bold;
    }

.banner {
    z-index: 100;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 2em;
    width: 900px;
    height: 60px;
    left: calc(50% - 900px/2);
    background: #FEFAF3;
    border: 1px solid #FFAC1C;
    border-radius: 3px;
    align-items: center;
}

    .bannerText {
        width: 744px;
        height: 36px;
        left: 20px;
        right: 136px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-left: 20px;
        padding-top:0.9em;
    }

    .bannerLink1 {
        position: relative;
        width: 42px;
        height: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #3A8544;
        padding-left:1.5em;
    }

    .bannerLink2 {
        position: relative;
        width: 20px;
        height: 20px;
        padding-left:1.5em;
    }

        .bannerImage {
            position: relative;
            display: inline-block;
            height: 20px;
        }


@media (max-width: 750px) {
    .mainHeaderLanguageMenu {
        color: red;
    }
}
