.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    left: 0px;
    width: 100%;
    
}
    .topMenu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 1em 0;
        margin: 0;
        background-color: white;
        border-bottom: 1px solid #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }


        .mainHeaderLanguageMenu {
            display: flex;
            padding: 0 10%;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            float: left;
            width: 104px;
            height: 24px;
            left: 135px;
        }

            .mainHeaderLanguageMenu a {
                display: flex;
                width: 30px;
            }

        .topTitle {
            width: 102px;
            height: 30px;
            display: flex;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            font-weight: bold;
            line-height: 30px;
            color: #232B2B;
        }

    .auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 168px;
        height: 32px;
        right: 135px;
    }

        .login {
            /*width: 69px;*/
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #232B2B;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .register {
            /*width: 74px;*/
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #232B2B;
            flex: none;
            order: 2;
            flex-grow: 0;
        }

        .dot {
            width: 5px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #3A8544;
            flex: none;
            flex-grow: 0;
            margin-right: 10px;
            margin-left: 10px;
        }


.mainMenu {
    display: flex;
    background-color: cornflowerblue;
    flex-direction: row;
    align-items: center;
    margin: 1em calc(50% - 704px/2);
    gap: 20px;
    width: 704px;
    height: 24px;
}

        .allReleases {
            width: 83px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .bookmarks {
            width: 84px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .reccomend {
            width: 108px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 2;
            flex-grow: 0;
        }

        .collection {
            width: 64px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 3;
            flex-grow: 0;
        }

        .corrections {
            width: 58px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 4;
            flex-grow: 0;
        }

        .users {
            width: 50px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 5;
            flex-grow: 0;
        }

        .mostValued {
            width: 80px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 6;
            flex-grow: 0;
        }

        .cart {
            width: 37px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #232B2B;
            flex: none;
            order: 7;
            flex-grow: 0;
        }

.searchQuery {
    width: 860px;
    height: 44px;
    left: 290px;
    top: 154px;
}

.homeButton {
    width: 60px;
    height: 44px;
    left: 0px;
    top: 0px;
    background: #3A8544;
    border-radius: 3px 0px 0px 3px;
}

.searchTextBox {
    box-sizing: border-box;
    height: 44px;
    left: 0px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.searchFilter {
    left: 0%;
    right: 0%;
    background: #3A8544;
}

.searchButton {
    width: 60px;
    height: 44px;
    right: 0px;
    top: 0px;
    background: #3A8544;
    border-radius: 0px 3px 3px 0px;
}

.leftMenu {
    background-color: blue;
    width: 270px;
    height: 940px;
    left: 135px;
    top: 278px;
}
