.main {
    display: flex;
    flex-direction: row;
    min-height: 20em;
}


.mainContent {
    background-color: forestgreen;
    width: 870px;
    height: 1070px;
    margin-left: 30px;
    margin-top: 0.625em;
}

.activeUsers {
    display: flex;
    width: 870px;
    height: 234px;
}

.activeCollumn1, .activeCollumn2{
    vertical-align:bottom;
}

.user1, .user2, .user3, .user4, .user5, .user6 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 420px;
    height: 50px;
    left: 435px;
    top: 1298px;
    border: 1px solid #E0E0E0;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    z-index: 3;
}

.userName{
    padding-left:20px;
}

.userNum{
    padding-right: 20px;
}
/*.user1 {
    background-color: lightpink;
}

.user2 {
    background-color: lightblue;
}

.user3 {
    background-color: lightgreen;
}
.user4 {
    background-color: lightcoral;
}

.user5 {
    background-color: lightslategrey;
}

.user6 {
    background-color: lightsalmon;
}
*/
