.main {
    display: flex;
    min-height: 20em;
}

.filters {
}

    .filtersTitle {
    }

.dropdown-btn {
   
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.mainContent {
    background-color: forestgreen;
    width: 870px;
    height: 497px;
    left: 435px;
    top: 278px;
}

.activeUsers {
    background-color:black;
    display: flex;
    width: 870px;
    height: 234px;
}

.activeUsersFlex1{

}

.user1, .user2, .user3, .user4, .user5, .user6 {
    box-sizing: border-box;
    width: 420px;
    height: 50px;
    left: 435px;
    top: 1298px;
    border: 1px solid #E0E0E0;
    margin-top: 10px
}

.user1 {
    background-color: lightpink;
}

.user2 {
    background-color: lightblue;
}

.user3 {
    background-color: lightgreen;
}
.user4 {
    background-color: lightcoral;
}

.user5 {
    background-color: lightslategrey;
}

.user6 {
    background-color: lightsalmon;
}

