.main {
    display: flex;
    min-height: 20em;
}

.filters {
}

.filtersTitle {
}

.dropdown-btn {
   
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.mainContent {
    background-color: forestgreen;
    /*position: absolute;*/
    width: 870px;
    height: 497px;
    left: 435px;
    top: 278px;
}

.activeUsers{
    display: flex;

}

.user1, .user2, .user3, .user4, .user5, .user6 {
    width: 320px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display:inline-block;
}

.user1 {
    
}

.user2 {

}

.user3 {

}
.user4 {

}

.user5 {

}

.user6 {

}

