/*.sideBar {
    display: flex;
    flex-direction: column;
    background-color:greenyellow;
}

.sideBarBlock {

}


    .sideBarBlock > .title {

    }

    

    .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }*/

.sideTest {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    height: 940px;
    width: 270px;
    left: 135px;
    top: 278px;
    border-radius: 0px;
    margin-left: 8.4375em;
    margin-top: 0.625em;
    margin-right: 1.875em;
    gap: 1.875em;
}

    .period {
        background-color: azure;
        width: 16.875em;
        height: 11.375em;
    }

    .expenses {
        background-color: azure;
        width: 16.875em;
        height: 22.25em;
    }

    .collection {
        background-color: azure;
        width: 16.875em;
        height: 15.875em;
    }