/*.sideBar {
    display: flex;
    flex-direction: column;
    background-color:greenyellow;
}

.sideBarBlock {

}


    .sideBarBlock > .title {

    }

    

    .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }*/

.sideTest {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    height: 940px;
    width: 270px;
    left: 135px;
    top: 278px;
    border-radius: 0px;
    margin-left: 8.4375em;
    margin-top: 0.625em;
    margin-right: 1.875em;
    gap: 1.875em;
}

.buttonText {
    width: 13.875em;
    line-height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 8px;
}

.arrowDown{
    padding-left:8px;
}

    .period {
        background-color:lightskyblue;
        width: 16.875em;
        height: 11.375em;
        position:relative;
    }

        .periodDropDown-btn {
            display:flex;
            
            flex-direction:row;
            background: #F5F9F6;
            height: 40px;
            width: 270px;
            border-radius: 0px;
            align-items:center;
        }

        .periodCalendar{
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            column-gap:5px;
            height:98px;
            background-color:brown;
        }

            .dateFrom{
                background-color:aquamarine;
                width:124px;
                height:40px;
            }

            .dateTo {
                background-color: aqua;
                width: 124px;
                height: 40px;
            }

        .periodResults {
            background-color: blueviolet;
            height: 44px;
            width: 100%;
            background: #3A8544;
            border-radius: 3px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
        }

    .expenses {
        background-color: lightskyblue;
        width: 16.875em;
        height: 22.25em;
    }

        .expensesDropDown-btn {
            display: flex;
            flex-direction: row;
            background: #F5F9F6;
            height: 40px;
            width: 270px;
            border-radius: 0px;
            align-items: center;
        }

    .sideBarCollection {
        background-color: lightskyblue;
        width: 16.875em;
        height: 15.875em;
    }

        .sideBarCollectionDropDown-btn {
            display: flex;
            flex-direction: row;
            background: #F5F9F6;
            height: 40px;
            width: 270px;
            border-radius: 0px;
            align-items: center;
        }
    
