/*.sideBar {
    display: flex;
    flex-direction: column;
    background-color:greenyellow;
}

.sideBarBlock {

}


    .sideBarBlock > .title {

    }

    

    .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }*/

.sideBarRoboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.sideTest {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    height: 940px;
    width: 270px;
    left: 135px;
    top: 278px;
    border-radius: 0px;
    margin-left: 8.4375em;
    margin-top: 0.625em;
    margin-right: 1.875em;
    gap: 20px;
}

.buttonText {
    width: 13.875em;
    line-height: 1.5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 8px;
}

.arrowDown{
    padding-left:8px;
}

    .sideFiltriTextBox{
        height:30px;
        width:270px;
        background-color:brown;
    }

    .period {
        background-color:lightskyblue;
        width: 16.875em;
        height: 11.375em;
        position:relative;
    }

        .periodDropDown-btn {
            display:flex;
            
            flex-direction:row;
            background: #F5F9F6;
            height: 40px;
            width: 270px;
            border-radius: 0px;
            align-items:center;
        }

        .periodCalendar {
            display: grid;
            grid-template-areas:
                'date1 date2'
                'dateBox1  dateBox2';
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            height: 98px;
            background-color: white;
        }

            .calDatesText {
                position: relative;
                top: 10px;
                height:24px;
                width:83px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
            }

            .dateFrom {
                grid-area: date1;
            }

            .dateTo {
                grid-area: date2;
            }

            .calBox {
                display: flex;
                justify-content: space-around;
                position: relative;
                width: 124px;
                height: 40px;
                bottom: 10px;
                border: 1px solid #CCCCCC;
                border-radius: 4px;
                line-height: 40px;
            }

                .calIcon{
                    position:relative;
                    height:14.67px;
                    width:14.67px;
                    top:12.67px;
                }

            .dateFromBox{
                grid-area:dateBox1;
            }

            .dateToBox {
                grid-area:dateBox2;
            }

        .periodResults {
            background-color: blueviolet;
            height: 44px;
            width: 100%;
            background: #3A8544;
            border-radius: 3px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
        }
            .periodResultsText {
                text-align: center;
                margin-block-start:0;
                padding-bottom:20px;
                line-height:44px;
                color:white;
            }

    .expenses {
        background-color:white;
        width: 16.875em;
        height: 22.25em;
    }

        .expensesDropDown-btn {
            display: flex;
            flex-direction: row;
            background: #F5F9F6;
            height: 40px;
            width: 270px;
            border-radius: 0px;
            align-items: center;
        }

        .expTextLine {
            align-items: center;
            row-gap: 10px;
            font-size:14px;
        }

    .sideBarCollection {
        background-color: lightskyblue;
        width: 16.875em;
        height: 15.875em;
    }

        .sideBarCollectionDropDown-btn {
            display: flex;
            flex-direction: row;
            background: #F5F9F6;
            height: 40px;
            width: 270px;
            border-radius: 0px;
            align-items: center;
        }
    
